@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100dvh;
    background-image:linear-gradient(to bottom,#6435ef,#008ffb);
    font-family: 'Roboto', sans-serif;
    color: #000000;
}
h2 {
    font-size: 30px;
}

.container{
    max-width: 97vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.box{
    padding: 10px;
    height: 500px;
    width: 500px;
    border-radius: 20px;
    background-color: #ebf2ff6e;
    margin: 50px auto;
    position: relative;
}

form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.submit-button{
    width: 400px;
    height: 40px;
    background-color: #0025dd;
    color: white;
    font-size: 17px;
    border-radius: 10px;
    border: none;
    position: absolute;
    bottom: 25px;
    left:50px
}

.submit-button:hover{
    background-color: #002aff;
    cursor: pointer;
}

.font-size{
    font-size: 18px;
}

.qr-code{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.input, .short-url{
    height: 40px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid white;
    background-color: #ebf2ff6e;
    color: #212529;
    font-size: 16px;
}